<div class="container-fluid vh-100 background-login pt-5">
  <div class="col-xl-3 m-auto border px-5 py-5 background-form-login">
    <div class="mb-5">
      <h2 class="text-center">Register</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="m-auto">
      <div>
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'signature']"></fa-icon></span><input type="text" formControlName="firstname" formControlName="" placeholder="@First Name">
        </div>
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'signature']"></fa-icon></span><input type="text" formControlName="lastname" placeholder="@Last Name">
        </div>
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'envelope']"></fa-icon></span><input type="text" formControlName="email" placeholder="@Email">
        </div>
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'phone']"></fa-icon></span><input type="text" formControlName="phone" placeholder="@Phone">
        </div>
<!--        <div class="mb-2 d-flex">-->
<!--          <span><fa-icon [icon]="['fas', 'cake-candles']"></fa-icon></span><input type="text" formControlName="dob" placeholder="@Brithday">-->
<!--          <span><fa-icon [icon]="['fas', 'calendar-day']"></fa-icon></span>-->
<!--        </div>-->
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'user']"></fa-icon></span><input type="text" formControlName="username" placeholder="@UserName">
        </div>
        <div class=" mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'key']"></fa-icon></span>
          <input type="text" formControlName="password" placeholder="Pass">
        </div>
        <div class="d-flex">
          <span><fa-icon [icon]="['fas', 'key']"></fa-icon></span>
          <input type="text" formControlName="repassword" placeholder="Repass">
        </div>
      </div>
      <div *ngIf="messageError" class="mb-2 d-flex text-danger h-center">
        <p>{{messageError | json}}</p>
      </div>
      <button
        type="submit"
        class="text-center mb-2 mt-5 d-block w-100 border-0 bg-white"style="height: 50px; border-radius: 5px;">
        Register<fa-icon style="margin-left: 5px" [icon]="['fas', 'user-plus']"></fa-icon>
      </button>
    </form>
  </div>
</div>

