.background-login {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-form-login {
  border-radius: 5px;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

.button-normal {
  background: #adefc9;
  width: 120px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #252537;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button-normal:hover {
  /*animation: ani9 0.4s ease-in-out infinite alternate;*/
  background-color: #bdfae5;
}

/*@keyframes ani9 {*/
/*  0% {*/

/*  }*/
/*  100% {*/

/*  }*/
/*}*/

input {
  width: 90%;
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  padding: 5px 10px;
}

input:focus-visible {
  border: none;
  outline: none;
}

input[type='password'] {
  border-radius: 0px;
  width: 80%;
}

input[type='password'] + span {
  border-radius: 0px 5px 5px 0px;
}

input[type='password'] + span:hover{
  color: #adefc9;
}

div span {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255);
  border-radius: 5px 0px 0px 5px;
}

