div.col-4 {
  padding: 0 20px;
}

.product-preview {
  height: 270px;
  border: 1px solid #ebfaf7;
  padding: 0;
  position: relative;
  background-color: #218bd5;
}

div.product-preview img {
  opacity: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.product-preview:hover {
  cursor: pointer;
}

.product-preview:hover img {
  animation: anima-hover 0.5s linear 1 forwards;
}

@keyframes anima-hover {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

div.product-preview .title {
  position: absolute;
  top: 10%;
  left: 5%;
}

.product-preview:hover .title {
  color: white;
}

div.product-preview .link-shop {
  position: absolute;
  left: 5%;
  bottom: 10%;
  display: block;
  width: 100px;
}

.product-preview:hover .link-shop {
  display: block;
}

.product-preview .link-shop p {
  position: absolute;
  left: 10px;
  display: none;
}


.product-preview .link-shop p a {
  color: white;
}

.product-preview:hover .link-shop p {
  display: block;
  animation: show-link 0.5s linear 1 forwards, scale-link 0.5s linear 0.5s 1 forwards;
}


@keyframes show-link {
  from {
    top: 0;
  }
  to {
    top: -30px;
  }
}

/*@keyframes scale-link {*/
/*  from{*/
/*    !*transform: scale(calc(), );*!*/
/*  }*/

/*  to {*/

/*  }*/
/*}*/

.product-preview .link-shop div.line-link {
  width: 3px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.product-preview:hover .link-shop div.line-link {
  display: block;
  transform: scale(30, 1);
  height: 3px;
  background-color: white;
  transition: transform 0.5s;
}




