<div class="container-fluid p-global">
<div class="row d-flex justify-content-between my-5">
  <div class="col-lg-12 col-xl-4">
    <div class="product-preview">
      <div class="title">
        <h4>Women</h4>
        <p>Spring 2023</p>
      </div>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/banner-01.jpg" >
      <div class="link-shop h-center">
        <p class="m-0 p-0"><a href=""class="text-decoration-none">SHOP NOW</a></p>
        <div class="line-link"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-4">
    <div class="product-preview">
      <div class="title">
        <h4>Men</h4>
        <p>Spring 2023</p>
      </div>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/banner-02.jpg">
      <div class="link-shop">
        <p class="m-0 p-0"><a href="" class="text-decoration-none">SHOP NOW</a></p>
        <div class="line-link"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xl-4">
    <div class="product-preview">
      <div class="title">
        <h4>Accessories</h4>
        <p>Now Trend</p>
      </div>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/banner-03.jpg">
      <div class="link-shop">
        <p class="m-0 p-0"><a href="" class="text-decoration-none">SHOP NOW</a></p>
        <div class="line-link"></div>
      </div>
    </div>
  </div>
</div>
</div>
