.filter {
  padding: 50px 0px 0px 0px;
  background-color: #e6ecea;
  max-width: 100%;
  margin: 0;
}

.filter div div ul {
  list-style-type: none;
  padding: 0px;
}

.filter div div ul li {
  margin-top: 15px;
}

.filter div div ul li span {
  border-bottom: 1px solid #e6ecea;
}

.filter div div ul li:hover span  {
  cursor: pointer;
  border-bottom: 1px solid #a8c3e8;
  color: #a8c3e8;
}

.filter div div ul li div {

}

.filter .color-list-filter li div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.filter .color-list-filter li {
  position: relative;
}

.filter .color-list-filter li p {
  margin: 0;
  padding: 0 0 0 30px;
  border-bottom: 1px solid #e6ecea;
}

.filter .color-list-filter li p:hover {
  cursor: pointer;
  border-bottom: 1px solid #a8c3e8;
  color: #a8c3e8;
}

div.list-tags-button button {
  border: 1px solid #c7d5d1;
  background-color: #e6ecea;
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border-radius: 50px;
}


div.list-tags-button button:hover {
  border: 1px solid #899893;
}


.filter div.col-3 div {}

@media screen and (max-width: 1200px){
}





