<div class="row filter">
  <div class="col-lg-6 col-xl-3">
    <div class="">
      <h4>Sort By</h4>
      <ul>
        <li><span>Default</span></li>
        <li><span>Popularity</span></li>
        <li><span>Average rating</span></li>
        <li><span>Newness</span></li>
        <li><span>Price: Low to High</span></li>
        <li><span>Price: High to Low</span></li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div>
      <h4>Price</h4>
      <ul>
        <li><span>All</span></li>
        <li><span>$0.00 - $50.00</span></li>
        <li><span>$50.00 - $100.00</span></li>
        <li><span>$100.00 - $150.00</span></li>
        <li><span>$150.00 - $200.00</span></li>
        <li><span>$200.00+</span></li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div>
      <h4>Color</h4>
      <ul class="color-list-filter">
        <li class="d-flex"><div style="background-color: black"></div> <p>Black</p> </li>
        <li class="d-flex"><div style="background-color: blue"></div> <p>Blue</p> </li>
        <li class="d-flex"><div style="background-color: gray"></div> <p>Gray</p> </li>
        <li class="d-flex"><div style="background-color: green"></div> <p>Green</p> </li>
        <li class="d-flex"><div style="background-color: red"></div> <p>Red</p> </li>
        <li class="d-flex"><div style="background-color: white"></div> <p>White</p> </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6 col-xl-3">
    <div class="list-tags-button">
      <h4>Tags</h4>
      <button>Fashion</button>
      <button>Lifestyle</button>
      <button>Denim</button>
      <button>Streetstyle</button>
      <button>Crafts</button>
    </div>
  </div>


</div>
