<div class="container-fluid p-0 m-0">
  <div class="search w-100 position-relative">
    <span><fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></span>
    <input type="text" name="search" placeholder="Search">
  </div>
</div>
