div.about img{
  width: 100%;
}

div.story {
  padding-right: 100px;
}

div.mission {
  padding-left: 100px;
}

div.story-img {
  border: 5px solid #E3FDF5;
}

div.story-img img {
  transform: translate(20px, -20px);
}

div.mission-img {
  border: 5px solid #E3FDF5;
}

div.mission-img img {
  transform: translate(-20px, -20px);
}

div.blockquote-steve {
  margin: 50px 0px;
  border-left: 5px solid #E3FDF5;
  padding:30px 0px 30px 50px;

}

div.blockquote-steve blockquote{

}

.about-position {
  position: relative;
}
div.about-position h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
