.list {
  text-decoration: none;
  list-style-type: none;
}

.sub-header{
  height: 40px;
}

div.sub-header ul li {
  border-left: 1px solid white;
  padding: 0px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.p-global p,ul {
  margin: 0px;
  height: 100%;
}

.main-header {
  height: 80px;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
}

/*.reset-sticky-navbar {*/
/*  animation: sticky-remove 0.5s ease 1 forwards;*/
/*}*/

/*@keyframes sticky-remove {*/
/*  from{*/
/*    position: fixed;*/
/*    top:0;*/
/*  }*/

/*  to{*/
/*    position: absolute;*/
/*    top:40px;*/
/*  }*/
/*}*/

.sticky-navbar {
  animation: sticky-add 0.2s ease 1 forwards;
}

@keyframes sticky-add {
  from{
    position: absolute;
  }

  to{
    position: fixed;
    top:0;
    background-color: white;
  }
}

.main-header ul li {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header ul li:hover {
  color: #9ecaec;
  cursor: pointer;
}

.main-header h4 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header-tooltip {
  position: relative;
}

.header-tooltip-hot {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: deeppink;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 5px;
  color: white;
}

.header-tooltip-info {
  position: absolute;
  top: 15px;
  right: 5px;
  background-color: #6db7ea;
  padding: 0px 5px;
  font-size: 12px;
  border-radius: 5px;

}

ul.list li a {
  color: black;
  text-decoration: none;
}

ul.list li a:hover {
  color: #78b0de;
}

.active {
  color: #78b0de;
}

.navbars {
  display: none;
  font-size: 24px;
  width: 50px;
}

@media screen and (max-width: 1200px) {
  #wrap-navbar {
    display: none;
  }

  .navbars {
    display: block;
  }

  .main-header {
    position: static;
  }
}

