<div class="d-flex justify-content-between p-global main-header" id="navbar">
  <div class="d-flex justify-content-between">
    <div>
      <h4><strong>COZA</strong> STORE</h4>
    </div>
    <div id="wrap-navbar">
      <ul class="d-flex list">
        <li><a [routerLink]="['/home/index']" [routerLinkActive]="['active']">{{'label.home'| translate}}</a></li>
        <li><a [routerLink]="['/home/shop']" [routerLinkActive]="['active']">{{'label.shop'| translate}}</a></li>
        <li class="container-header-tooltip"><a [routerLink]="['/home/feature']" [routerLinkActive]="['active']">Features<span
          class="header-tooltip-hot">HOT</span></a></li>
        <li><a [routerLink]="['/home/blog']" [routerLinkActive]="['active']">Blog</a></li>
        <li><a [routerLink]="['/home/about']" [routerLinkActive]="['active']">About</a></li>
        <li><a [routerLink]="['/home/contact']" [routerLinkActive]="['active']">{{'label.contact'| translate}}</a></li>
      </ul>
    </div>
  </div>
  <div>
    <ul class="d-flex list">
      <li><a>
        <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
      </a></li>
      <li class="container-header-tooltip"><a>
        <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
      </a><span class="header-tooltip-info">2</span></li>
      <li class="container-header-tooltip"><a>
        <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </a><span class="header-tooltip-info">2</span></li>
      <li class="container-header-tooltip">
        <a class="navbars" (click)="onClickShowNavBar()">
          <fa-icon [icon]="['fas', 'list']" *ngIf="!showNavbar"></fa-icon>
          <fa-icon [icon]="['fas', 'xmark']" *ngIf="showNavbar"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
<app-hearder-respones *ngIf="showNavbar"></app-hearder-respones>
