<app-navbar1></app-navbar1>
<div class="container-fluid p-global my-5">
  <div>Home/Shopping Cart</div>
  <div class="row">
    <div class="col-8">
    <div>
      <table>
        <tr>
          <th>ProductForm</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>
            <img src="assets/images/blogs/item-cart-04.jpg">
            <p>
              Fresh Strawberries
            </p>
          </td>
          <td>$ 36.00</td>
          <td>
            <div>
              <button>+</button>
              <input type="number">
              <button>-</button>
            </div>
          </td>
          <td>$ 36.00</td>
        </tr>
        <tr>
          <td>
            <img src="assets/images/blogs/item-cart-05.jpg">
            <p>
              Lightweight Jacket
            </p>
          </td>
          <td>$ 16.00</td>
          <td><div>
            <button>+</button>
            <input type="number">
            <button>-</button>
          </div></td>
          <td>$ 16.00</td>
        </tr>
        <tr>
          <td colspan="4">
            <input type="text" placeholder="Coupon Code">
            <button class="cart-btn cart-btn-normal">APPLY COUPON</button>
            <button class="cart-btn cart-btn-normal">UPDATE CART</button>
          </td>
        </tr>
      </table>
    </div>
    </div>
    <div class="col-4">
      <div>
        <h4>CART TOTALS</h4>
        <div class="d-flex">
          <p class="l-cart-info"><strong>Subtotal :</strong></p>
          <p class="r-cart-info"><strong>$79.65</strong></p>
        </div>
        <div class="d-flex">
          <p class="l-cart-info"><strong>Shipping :</strong></p>
          <div class="r-cart-info">
            <p>There are no shipping methods available. Please double check your address, or contact us if you need any
              help.</p>
            <div>
              <h6>
                CALCULATE SHIPPING
              </h6>
              <form class="form-ship-info">
                <select>
                  <option>Select a country...</option>
                  <option>USA</option>
                  <option>UK</option>
                </select>
                <input type="text" placeholder="State/country">
                <input type="text" placeholder="Postcode/Zip">
                <button class="cart-btn cart-btn-normal">UPDATE TOTALS</button>
              </form>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <p class="l-cart-info"><strong>Total :</strong></p>
          <p class="r-cart-info"><strong>$79.65</strong></p>
        </div>
        <div>
          <button class="cart-btn cart-btn-checkout">PROCEED TO CHECKOUT</button>
        </div>
      </div>
    </div>
  </div>
</div>
