.r-cart-info {
  width: 70%;
}

.l-cart-info {
  width: 100px;
}

form.form-ship-info input, select, option{
  margin: 10px 0;
  width: 100%;
  border: 1px solid #c7d5d1;
  background-color: white;
}

form.form-ship-info input:focus, input:hover, select:focus, select:hover {
  outline: none;
  cursor: pointer;
}
form.form-ship-info input{
  padding: 5px 0 5px 30px;
}

form.form-ship-info select {
  padding: 7px 0 7px 30px;
}

.cart-btn {
  padding: 10px 0;
  border: none;
  border-radius: 30px;
}

.cart-btn:hover {
  background-color: #6db7ea;
}

.cart-btn-normal {
  border: 1px solid #c7d5d1;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e6e9ea;
  color: black;
}

.cart-btn-checkout {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

table {
  border: 1px solid #c7d5d1;
  width: 100%;
}

tr {
}

tr + tr {
  border-top: 1px solid #c7d5d1;
}
