<div class="container-fluid m-0 px-0 py-5 bg-black text-white-50">
  <div class="row d-flex justify-content-between p-global mw-100">
    <div class="col-xl-2">
      <h4>CATEGORIES</h4>
      <ul class="list h-list">
        <li><a>Women</a></li>
        <li><a>Men</a></li>
        <li><a>Shoes</a></li>
        <li><a>Watches</a></li>
      </ul>
    </div>
    <div class="col-xl-2">
      <h4>HELP</h4>
      <ul class="list h-list">
        <li><a>Track Order</a></li>
        <li><a>Returns</a></li>
        <li><a>Shipping</a></li>
        <li><a>FAQs</a></li>
      </ul>
    </div>
    <div class="col-xl-2 h-list">
      <h4>GET IN TOUCH</h4>
      <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
      <ul class="list h-list d-flex">
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Google</li>
      </ul>
    </div>
    <div class="col-xl-2 news-letter">
      <h4>NEWSLETTER</h4>
      <input type="email" placeholder="email@example.com" id="email">
      <div class="focus">
        <div></div>
      </div>
      <button>SUBCRIBE</button>
    </div>
  </div>
  <div>
    <ul class="list h-center">
      <li><img src="assets/images/icon-pay-01.png"></li>
      <li><img src="assets/images/icon-pay-02.png"></li>
      <li><img src="assets/images/icon-pay-03.png"></li>
      <li><img src="assets/images/icon-pay-04.png"></li>
      <li><img src="assets/images/icon-pay-05.png"></li>
    </ul>
  </div>
  <div class="copyright">
    <p class="h-center">Copyright ©2023 All rights reserved |Made with  <i>heart icon</i> by <i>Colorlib</i> & distributed by <i>ThemeWagon</i></p>
  </div>
</div>
