ul.h-list {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

ul.h-list li {
  margin: 15px 0px;
}

div h4 {
  margin: 0px 0px 50px 0px;
}

.copyright {
  margin-top: 50px;
}

div.news-letter input {
  border: none;
  outline: none;
  height: 40px;
  padding: 0px;
  background-color: black;
  color: white;
}

div.news-letter div.focus {
  /*border-bottom: 1px solid #d1d1dc;*/
  height: 1px;
  background-color: white;
}

div.focus div {
  width: 0;
  height: 1px;
  background-color: #218bd5;
}

#email:focus + div.focus div{
  animation: focus-input 0.5s linear 0s 1 forwards;
}

:not(#email:focus) + div.focus div {
  animation: not-focus-input 0.5s linear 0s 1 forwards;
}

@keyframes not-focus-input {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}


@keyframes focus-input {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

div.news-letter button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #218bd5;
  color: white;
  border-radius: 20px;
  margin: 30px 0px 0px 0px ;
  transition: background-color 0.5s, color 0.5s;
}

div.news-letter button:hover {
  background-color: white;
  color: #218bd5;
}
