<app-navbar1></app-navbar1>
<div class="container-fluid m-0 p-0">
  <div class="contact contact-position">
    <img src="assets/images/about/bg-01.jpg" class="mw-100">
    <h3>Contact</h3>
  </div>
  <div class="row p-global my-5 mw-100">
    <div class="contact-col col-xl-6">
      <h4 class="h-center">
        Send Us A Message
      </h4>
     <form class="h-center flex-column form-feedback">
       <div class="my-5">
         <span><fa-icon [icon]="['fas', 'envelope']"></fa-icon></span>
         <input type="text" placeholder="Your Email Address" class="form-control">
       </div>
       <textarea placeholder="How Can We Help?"class="form-control" rows="10"></textarea><br>
       <button>Submit</button>
     </form>
    </div>
    <div class="contact-col col-xl-6">
      <div class="d-flex mb-5">
        <div><span><fa-icon [icon]="['fas', 'location-dot']"></fa-icon></span></div>
        <div class="mx-3">
          <p>Address </p>
          <address>Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</address>
        </div>
      </div>
      <div class="d-flex mb-5">
        <div><span><fa-icon [icon]="['fas', 'phone']"></fa-icon></span></div>
        <div class="mx-3">
          <p>Lets Talk</p>
          <p>+1 800 1236879</p>
        </div>
      </div>
      <div class="d-flex mb-5">
        <div><span><fa-icon [icon]="['fas', 'envelope']"></fa-icon></span></div>
        <div class="mx-3">
          <p>Sale Support</p>
          <p>contact@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
