.contact-position {
  position: relative;
}

div.contact-position h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

div.contact-col {
  border: 1px solid #dfe3e0;
  padding: 100px;
}

.form-feedback div input {
  width: 500px;
  padding: 10px 0px 10px 50px;
}
.form-feedback div {
  position: relative;
}

.form-feedback span {
  position: absolute;
  left: 20px;
  top: 10px;
}

.form-feedback textarea {
  width: 500px;
  padding-left: 20px;
}

.form-feedback button {
  border: none;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  background-color: black;
  color: white;
}

.form-feedback button:hover {
  background-color: #4888be;
}
