<div class="container-fluid p-0 m-0 position-relative">
  <app-navbar></app-navbar>
  <carousel>
    <slide>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/slide-01.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/slide-02.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://productbucketphien06102023.s3.amazonaws.com/images/slide-03.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
