<div class="container-fluid p-global">
  <h1>{{'label.productOverview' | translate}}</h1>
  <div class="flex-product">
    <ul class="d-flex list p-0 list-filter">
      <li>All Products</li>
      <li>Women</li>
      <li>Men</li>
      <li>Bag</li>
      <li>Shoes</li>
      <li>Watches</li>
    </ul>
    <div class="buttons">
      <button #btnFilter type="button" class="btn position-relative" (click)="showFilterForm()" [ngClass]="{'bg-button': isShowFilter}">
        <span *ngIf="!isShowFilter"><fa-icon [icon]="['fas', 'filter']"></fa-icon></span>
        <span *ngIf="isShowFilter"><fa-icon [icon]="['fas', 'xmark']"></fa-icon></span>
        Filter
        <div *ngIf="isShowFilter" class="direction"></div>
      </button>
      <button #btnSearch type="button" class="btn position-relative" (click)="showSearchForm()" [ngClass]="{'bg-button': isShowSearch}">
        <span *ngIf="!isShowSearch"><fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></span>
        <span *ngIf="isShowSearch"><fa-icon [icon]="['fas', 'xmark']"></fa-icon></span>
        Search
        <div *ngIf="isShowSearch" class="direction"></div>
      </button>
    </div>
  </div>
  <div class="position-relative mt-5">
    <div class="external-filter" #filterForm>
      <app-filter></app-filter>
    </div>
    <div class="external-search" #searchForm>
      <app-search></app-search>
    </div>
  </div>
  <div class="list-product" #products>
    <div class="row">
      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product ">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-3 product">
        <div>
          <div class="position-relative">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/product-04.jpg">
            <button>Quick Detail</button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p>Esprit Ruffle Shirt</p>
            <p>
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            </p>
          </div>
          <div>
            <p>$16.64</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
