.product div div img {
  width: 100%;
  transition: transform 0.5s;
}

.product div div {
  overflow: hidden;
}

.product div div:hover img {
  transform: scale(1.1,1.1);
}

.product div div:hover button {
   bottom: 5%;
}

.product div div button {
  border: none;
  width: 120px;
  padding: 5px 0px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: -10%;
  transform: translateX(-50%);
  transition: bottom 0.5s;
}

.buttons button {
  width: 100px;
  border: 1px solid #c7d5d1;
}

.buttons button span {
  display: inline-block;
  width: 15px;
  margin-right: 5px;
}

.bg-button {
  background-color: #6db7ea;
}

ul.list-filter li{
  margin: 10px 40px 10px 0px;
  border-bottom: 1px solid white;
}

ul.list-filter li:hover{
  border-bottom: 1px solid black;
}

div.p-global div.buttons button {
  margin: 10px 20px 10px 0px;
}

.external-filter {
  position: absolute;
  width: 100%;
}

.list-product {
  z-index: 2;
  background-color: white;
  position: relative;
  transition: margin-top 0.5s;
}

.external-search {
  position: absolute;
  width: 100%;
}

.direction {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #6db7ea;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  bottom: -15%;
}

.flex-product {
  display: flex;
  justify-content:space-between;
}

@media screen and (max-width: 1200px) {
  .flex-product {
    display: block;
  }
}


