<div class="container-fluid vh-100 background-login pt-5">
  <div class="col-xl-3 m-auto border px-5 py-5 background-form-login">
    <div class="mb-5">
      <h2 class="text-center">Log In</h2>
      <p class="text-center">login here using your username and password</p>
    </div>
    <form class="m-auto" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <div class="mb-2 d-flex">
          <span><fa-icon [icon]="['fas', 'user']"></fa-icon></span><input type="text" formControlName="username" placeholder="@UserName">
        </div>
        <div class="d-flex">
          <span><fa-icon [icon]="['fas', 'key']"></fa-icon></span>
          <input type="{{passwordHidden ? 'password' : 'text'}}" placeholder="Password" formControlName="password">
          <span *ngIf="passwordHidden" (click)="passwordHidden = false"><fa-icon [icon]="['fas', 'eye']"></fa-icon></span>
          <span *ngIf="!passwordHidden" (click)="passwordHidden = true"><fa-icon [icon]="['fas', 'eye-slash']"></fa-icon></span>
        </div>
      </div>
      <div *ngIf="loginForm.get('username')?.touched &&
                 loginForm.get('password')?.touched && !loginForm.valid
        " class="mb-2 d-flex text-danger h-center">
          <p>username and password is required !!!</p>
      </div>
      <div *ngIf="messageError" class="mb-2 d-flex text-danger h-center">
        <p>{{messageError | json}}</p>
      </div>
      <button
        type="submit"
        class="text-center mb-2 mt-5 d-block w-100 border-0 bg-white"style="height: 50px; border-radius: 5px;">
        Log In
      </button>
      <button class="text-center mb-5 d-block w-100 border-0 bg-white"style="height: 50px; border-radius: 5px;">
        <img src="assets/images/google.png" style="width: 40px; height: 40px">
        Login with Google
      </button>
    </form>
    <div class="d-flex justify-content-between px-5">
      <div class="text-center button-normal">Forgot Password</div>
      <div (click)="onRegister()" class="text-center button-normal">Register<fa-icon style="margin-left: 5px" [icon]="['fas', 'user-plus']"></fa-icon></div>
    </div>
  </div>
</div>
