<div class="container-fluid m-0 p-0 " id="wrap-header">
  <div class="d-flex bg-black text-white justify-content-between align-items-center p-global sub-header" id="header">
    <p class="d-flex justify-content-center align-items-center">{{'label.condition'| translate: {bob: 100} }}</p>
    <ul class="d-flex list">
      <li><a>Help & FAQs</a></li>
      <li *ngIf="loginStatus" (click)="onLogin()" class="login-status">
        <span>Login</span>
      </li>
      <li *ngIf="!loginStatus" (click)="onLogout()" class="login-status">
        <span>Logout</span>
      </li>
      <li class="lang" style="width: 50px;">
        <a>{{lang}}</a>
        <div class="list-lang">
          <p (click)="setLang('EN')">EN</p>
          <p (click)="setLang('VI')">VN</p>
        </div>
      </li>
      <li style="border-right: 1px solid white"><a>USD</a></li>
    </ul>
  </div>
</div>


