.list {
  text-decoration: none;
  list-style-type: none;
}

.sub-header{
  height: 40px;
}

div.sub-header ul li {
  border-left: 1px solid white;
  padding: 0px 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.p-global p,ul {
  margin: 0px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  #wrap-header {
    display: none;
  }
}
li.lang {
  position: relative;
}

li.lang a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.list-lang {
  display: none;
  position: absolute;
  bottom: -40px;
  background-color: black;
  width: 50px;
  text-align: center;
  z-index: 100;
}

li.lang:hover .list-lang {
  display: block;
}

div.list-lang p:hover {
  background-color: white;
  color: #218bd5;
  cursor: pointer;
}

.login-status {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

