/* You can add global styles to this file, and also import other style files */
.h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  text-decoration: none;
  list-style-type: none;
}

.p-global {
  padding-left: 250px;
  padding-right: 250px;
}
