<div id="header-res">
  <div class="bg-black text-white px-5 py-3">
    <p>{{'label.condition' | translate}}</p>
    <ul class="list-header-1">
      <li><a>Help & FAQs</a></li>
      <li><a>My Account</a></li>
      <li class="lang" style="width: 50px;">
        <a>{{lang}}</a>
        <div class="list-lang">
          <p (click)="setLang('EN')">EN</p>
          <p (click)="setLang('VN')">VN</p>
        </div>
      </li>
      <li style="border-right: 1px solid white"><a>USD</a></li>
    </ul>
  </div>
  <div class="navbar-response px-5 py-3">
    <div>
      <ul class="list-header-2">
        <li><a class="text-white" [routerLink]="['/home/index']" [routerLinkActive]="['active']">{{'label.home'| translate}}</a></li>
        <li><a  class="text-white" [routerLink]="['/home/shop']" [routerLinkActive]="['active']">{{'label.shop'| translate}}</a></li>
        <li class="container-header-tooltip"><a class="text-white" [routerLink]="['/home/feature']"
                        [routerLinkActive]="['active']">Features<span class="header-tooltip-hot">HOT</span></a></li>
        <li><a class="text-white" [routerLink]="['/home/blog']" [routerLinkActive]="['active']">Blog</a></li>
        <li><a class="text-white" [routerLink]="['/home/about']" [routerLinkActive]="['active']">About</a></li>
        <li><a class="text-white" [routerLink]="['/home/contact']" [routerLinkActive]="['active']">{{'label.contact'| translate}}</a></li>
      </ul>
    </div>
  </div>
</div>
