@media screen and (min-width: 1200px) {
  #header-res {
    display: none;
  }
}

.list-header-1 {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.list-header-1 li {
  border-left:1px solid white;
  padding: 0 10px;
}

.list-header-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-header-2 li {
  margin: 5px 0;
}

.list-header-2 li a {
  text-decoration: none;
}

.navbar-response {
  background-color: #218bd5;
}

.container-header-tooltip {
  position: relative;
}

.header-tooltip-hot {
  position: absolute;
  top: 5px;
  left: 80px;
  background-color: deeppink;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 5px;
  color: white;
}

li.lang {
  position: relative;
}

li.lang a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.list-lang {
  display: none;
  position: absolute;
  bottom: -45px;
  background-color: black;
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

div.list-lang p {
  margin: 0;
}

li.lang:hover .list-lang {
  display: block;
}

div.list-lang p:hover {
  background-color: white;
  color: #218bd5;
  cursor: pointer;
}


