<app-navbar1></app-navbar1>
<div class="container-fluid m-0 p-0">
  <div class="blog-position">
    <img src="https://productbucketphien06102023.s3.amazonaws.com/images/bg-02.jpg" class="mw-100">
    <h3>Blog</h3>
  </div>
  <div class="row p-global my-5 mw-100">
    <div class="col-xl-9 blog">
      <div class="post-blog">
        <div>
          <div class="container-img-blog">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/blog-01.jpg">
          </div>
          <div class="label-img">
            <p class="h-center">22</p>
            <p class="h-center">Jan 2018</p>
          </div>
        </div>
        <div class="my-5">
          <h3>8 Inspiring Ways to Wear Dresses in the Winter</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget
            dictum tortor. Donec dictum vitae sapien eu varius</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>By Admin | StreetStyle, Fashion, Couple | 8 Comments</p>
          <p>CONTINUE READING <span><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></span></p>
        </div>
      </div>


      <div class="post-blog">
        <div>
          <div class="container-img-blog">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/blog-02.jpg">
          </div>
          <div class="label-img">
            <p class="h-center">22</p>
            <p class="h-center">Jan 2018</p>
          </div>
        </div>
        <div class="my-5">
          <h3>8 Inspiring Ways to Wear Dresses in the Winter</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget
            dictum tortor. Donec dictum vitae sapien eu varius</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>By Admin | StreetStyle, Fashion, Couple | 8 Comments</p>
          <p>CONTINUE READING <span><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></span></p>
        </div>
      </div>

      <div class="post-blog">
        <div>
          <div class="container-img-blog">
            <img src="https://productbucketphien06102023.s3.amazonaws.com/images/blog-03.jpg">
          </div>
          <div class="label-img">
            <p class="h-center">22</p>
            <p class="h-center">Jan 2018</p>
          </div>
        </div>
        <div class="my-5">
          <h3>8 Inspiring Ways to Wear Dresses in the Winter</h3>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget
            dictum tortor. Donec dictum vitae sapien eu varius</p>
        </div>
        <div class="d-flex justify-content-between">
          <p>By Admin | StreetStyle, Fashion, Couple | 8 Comments</p>
          <p>CONTINUE READING <span><fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></span></p>
        </div>
      </div>
  </div>
  <div class="col-xl-3">
      <div class="mb-5 search">
        <input type="text" placeholder="Search" class="form-control">
        <span><fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon></span>
      </div>
      <div>
        <h3 class="mb-5">Categories</h3>
        <div class="categories">
          <p>Fashion</p>
          <p>Beauty</p>
          <p>Street Style</p>
          <p>Life Style</p>
          <p>DIY & Crafts</p>
          <p></p>
        </div>
      </div>
      <div>
        <h3 class="mb-5">Featured ProductForm</h3>
        <ul class="list m-0 p-0">
          <li class="d-flex justify-content-between mb-5">
            <img src="assets/images/blogs/item-cart-04.jpg">
            <div>
              <p>White Shirt With Pleat Detail Back</p>
              <p>$19.00</p>
            </div>
          </li>
          <li class="d-flex justify-content-between mb-5">
            <img src="assets/images/blogs/item-cart-05.jpg">
            <div>
              <p>Converse All Star Hi Black Canvas</p>
              <p>$39.00</p>
            </div>
          </li>
          <li class="d-flex justify-content-between">
            <img src="assets/images/blogs/item-cart-04.jpg">
            <div>
              <p>Nixon Porter Leather Watch In Tan</p>
              <p>$17.00</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="mt-5">
        <h3 class="mb-5">Archive</h3>
        <ul class="list m-0 p-0">
          <li class="d-flex justify-content-between"> <p>July 2018</p> <p>(9)</p> </li>
          <li class="d-flex justify-content-between"> <p>June 2018</p> <p>(39)</p> </li>
          <li class="d-flex justify-content-between"> <p>May 2018</p> <p>(29)</p> </li>
          <li class="d-flex justify-content-between"> <p>April 2018</p> <p>(35)</p> </li>
          <li class="d-flex justify-content-between"> <p>March 2018</p> <p>(32)</p> </li>
          <li class="d-flex justify-content-between"> <p>February 2018</p> <p>(22)</p> </li>
          <li class="d-flex justify-content-between"> <p>January 2018</p> <p>(21)</p> </li>
          <li class="d-flex justify-content-between"> <p>December 2017</p> <p>(26)</p> </li>
        </ul>
      </div>
      <div class="mt-5">
        <h3 class="mb-5">Tags</h3>
        <div class="tags">
          <button class="tags-btn">Fashion</button>
          <button class="tags-btn">Lifestyle</button>
          <button class="tags-btn">Denim</button>
          <button class="tags-btn">Streetstyle</button>
          <button class="tags-btn">Crafts</button>
        </div>
      </div>
    </div>

</div>
</div>
