.blog-position {
  position: relative;
}

div.blog-position h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.post-blog{
  width: 90% !important;
  position: relative;
}

.blog div {
  width: 100%;
  overflow: hidden;
}

.blog img {
  width: 100%;
  transition: transform 1s;
}

.blog img:hover{
  transform: scale(1.1, 1.1);
}

.label-img {
  background-color: white;
  width: 90px !important;
  position: absolute;
  top: 20px;
  left: 30px;
  opacity: 0.8;
}

.tags-btn {
  border: 1px solid #c7d5d1;
  margin: 10px 5px;
  padding: 5px 10px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}

div.categories p {
  border-top: 1px solid #e0eae2;
  padding-top: 20px ;
}

div.search {
  position: relative;
}

div.search span {
  position: absolute;
  right: 10px;
  top: 10px;
}
